* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfcfff;
}

.header-container {
    background-color: #33CC33;
    color: white;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.information-container {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.information-container .information a {
    color: white;
    text-decoration: none;
}

.logos-header {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.logos-header button {
    background-color: #33CC33;
    border: none;
}

.logos-header button:hover{
    cursor: pointer;
}

.logos-header img {
    height: 20px;
    object-fit: contain;
    object-position: center;
}









.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.character-pill {
    width: 33%;
    padding: 15px;
}

.character-body {
    height: 400px;
    width: 250px;
    background-color: white;
    transition: all 300ms;
    border-radius: 5px;

}

.character-body:hover {
    transform: scale(1.15);
}

.character-pill .character-body {
    box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.50);
    height: 100%;
}

.character-header {
    width: 100%;
}

.character-header img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
}

.character-content {
   text-align: center;
}

.character-description {
    margin-top: 20px;
}

.character-name {
    font-size: 25px;
    margin-top: 10px;
}

.character-info {
    width: 100%;
    padding: 8px;
}

.character-info-content {
    padding: 3px;
    font-weight: bold;
}

.btn-carrito {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #99ff66;
    border-radius: 10px;
    border: none;
}

.btn-carrito:hover{
    cursor: pointer;
}