 @import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

 

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amarante", serif;
  font-style: normal;
 }
 

 body {
  background-color: #d8e2dc;
 }
 

 
 header {
  height: 60px;
  width: 100%;
 }
 

 .header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #33CC33;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
 }
 

 .content {
  width: 100%;
  background-color: #33CC33;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 }
 

 .logo {
  width: 25%;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
 }
 

 .logo a {
  color: white;
  text-decoration: none;
  cursor: pointer;
 }
 

 .information-container {
  width: 25%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 }
 

 .information-container .information a {
  color: white;
  text-decoration: none;
 }
 

 .logos-header {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
 }
 

 .logos-header button {
  background-color: #33CC33;
  border: none;
  cursor: pointer;
 }
 

 .logos-header img {
  height: 20px;
  object-fit: contain;
  object-position: center;
 }
 

 .container {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
 }
 

 .character-pill {
  width: 33%;
  padding: 15px;
 }
 

 .character-body {
  height: 400px;
  width: 250px;
  background-color: white;
  border-radius: 5px;
  transition: all 300ms;
 }
 

 .character-pill .character-body {
  box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.50);
  height: 100%;
 }
 

 .character-body:hover {
  transform: scale(1.05);
  z-index: 2;
 }
 

 .character-header {
  width: 100%;
 }
 

 .character-header img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
 }
 

 .character-content {
  text-align: center;
 }
 

 .character-description {
  margin-top: 20px;
 }
 

 .character-name {
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
 }
 

 .character-info {
  width: 100%;
  padding: 8px;
 }
 

 .character-info-content {
  padding: 3px;
 }
 

 .btn-carrito {
  width: 100%;
  padding: 10px 0;
  background-color: #99ff66;
  border: none;
  border-radius: 10px;
  cursor: pointer;
 }
 

 .footerContainer {
  background-color: #33CC33;
  color: white;
  text-align: center;
 }
 

 .footerContainer p {
  padding: 10px;
 }
 

 .shopCard {
  position: fixed;
  top: 70px;
  left: -80vw;
  width: 35%;
  padding: 10px 20px;
  background: wheat;
  border-radius: 15px;
  transition: left 1s;
  z-index: 1;
 }
 

 .shopCard.show {
  left: 15px;
 }
 

 .listaCarrito {
  width: 100%;
  margin: 10px;
  text-align: left;
 }
 

 .listaCarrito tfoot {
  transform: translateY(15px);
 }
 

 .headerShopCardContent {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #947f7f;
 }
 

 .headerShopCardContent h3 {
  cursor: pointer;
 }
 

 .shopCardContent button {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: #99ff66;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: end;
 }

 .añadir-quitar-producto {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 5px;
}


 .eliminar-producto {
    width: 10%;
    height: 50px;
    padding-right: 20px;
 }

 .eliminar-producto button {
    background: #d64933;
    padding: 5px;
 }
